.swiper-wrapper.swiper-scroll-oneSlideFade .card-menu-item.swiper-slide {
   padding: 0px;
}

.swiper-container.swiper-container-fade.card {
   border: 0px;
}

.swiper-container-fade .row.news-list-item.item-default.card-menu-item.swiper-slide {
   padding-left: 0px;
   padding-right: 0px;
}

.swiper-container.layout-card.swiper-container-fade ul.f3-widget-paginator {
   margin-bottom: 0px;
}

.swiper-container-fade .swiper-slide {
      background: white;
}

.swiper-wrapper.swiper-scroll-oneSlideFade .card-menu-item.swiper-slide {
    padding: 20px;
}

