.swiper-wrapper {
  padding-bottom: 24px; /* modified for newssstylist */
}

.swiper-slide {
  height: unset !important; /* modified for newsstylist, before: 100% */
}

.swiper-button-prev, .swiper-button-next {
    top: 40%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

