<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="breakpoint768" value ="6" />
<f:if condition="{settings.swiper.itemsPerSlide} < {breakpoint768}">
                <f:variable name="breakpoint768" value="{settings.swiper.itemsPerSlide}" />
</f:if>

<f:variable name="breakpoint640" value ="3" />
<f:if condition="{settings.swiper.itemsPerSlide} < {breakpoint640}">
                <f:variable name="breakpoint640" value="{settings.swiper.itemsPerSlide}" />
</f:if>

<f:variable name="breakpoint480" value ="1" />
<f:if condition="{settings.swiper.itemsPerSlide} < {breakpoint480}">
                <f:variable name="breakpoint480" value="{settings.swiper.itemsPerSlide}" />
</f:if>

<f:if condition="{settings.swiper.autoplay}">
   <f:then>
                <f:variable name="autoplay" value="true" />
   </f:then>
   <f:else>
                <f:variable name="autoplay" value="false" />
   </f:else>
</f:if>

<f:variable name="speed" value ="{settings.swiper.speed}" />
<f:variable name="slideperview" value ="{settings.swiper.itemsPerSlide}" />

<script>
      var swiper<f:format.raw>{contentObjectData.uid}</f:format.raw> = new Swiper('#news-container-<f:format.raw>{contentObjectData.uid}</f:format.raw>', {
      <f:if condition="{autoplay} == 'true'">
      autoplay: {
        delay: <f:format.stripTags>{settings.swiper.delay}</f:format.stripTags>,
      },
      </f:if>
      <f:if condition="{settings.swiper.mousewheel}">
      mousewheel: true,
      </f:if>
      <f:if condition="{settings.swiper.keyboard}">
      keyboard: {
                enabled: true,
                onlyInViewport: false,
                },
      </f:if>
      speed: <f:format.stripTags>{speed}</f:format.stripTags>,
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      coverflowEffect: {
        rotate: -20,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
      },    
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        480: {
          slidesPerView:  <f:format.raw>{breakpoint480}</f:format.raw>,
          spaceBetween: 0,
        },
        640: {
          slidesPerView:  <f:format.raw>{breakpoint640}</f:format.raw>,
          spaceBetween: 0,
        },
        768: {
          slidesPerView:  <f:format.raw>{breakpoint768}</f:format.raw>,
          spaceBetween: 0,
        },
        1024: {
          slidesPerView: <f:format.raw>{settings.swiper.itemsPerSlide}</f:format.raw>,
          spaceBetween: 0,
        },
      }

});
</script>

</html>
